[submodule "hivemind-core"]
	path = hivemind-core
	url = https://github.com/assistent-cat/HiveMind-core
[submodule "mycroft-catala"]
	path = mycroft-catala
	url = https://github.com/assistent-cat/mycroft-docker-catala
[submodule "catotron-cpu"]
	path = catotron-cpu
	url = https://github.com/assistent-cat/catotron-cpu.git
[submodule "vosk-server"]
	path = vosk-server
	url = https://github.com/ccoreilly/vosk-server.git
